<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="icons.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Orbitron" />
        <style type="text/css">
    html,
    body {
        margin: 0;
        padding: 0;
        width:<%= width %>;
        height:<%= height %>;
        background-color:white;
    }

        </style>
    </head>
<body>
   <div class="container">
    <div class="commands">
        <button id="btnConnect" type="button" class="offcall btn btn-primary" ><i class="bi bi-telephone-fill" style="font-size: 2rem;"></i></button>
        <button id="btnMic" type="button" class="oncall btn btn-secondary hide" ><i class="bi bi-mic-mute-fill" style="font-size: 2rem;"></i></button>
        <button id="btnHangup" type="button" class="oncall btn btn-danger hide" ><i class="bi bi-telephone-fill" style="font-size: 2rem;"></i></button>
        <button id="btnVideo" type="button" class="btn btn-secondary" ><i class="bi bi-camera-video-off-fill" style="font-size: 2rem;"></i></button>
        <button id="btnDoorUnlock" type="button" class="btn btn-primary"><i class="bi bi-key-fill" style="font-size: 2rem;"></i></button>
       
        <div id="clock"></div>
    </div>
        <div id="cameravd">
            <iframe id="videoframe" src=""></iframe>
        </div>
       <div id="meetFrame">

       </div>
   </div>
</body>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="meetapi.js"></script>
<script type="text/javascript" src="app.js"></script>
<script>
    $( document ).ready(function() {
        const options = {
            $,
            jitsiApi: JitsiMeetExternalAPI,
            io,
            ioAddress: '<%= serverUrl %>',
            serverUrl: '<%= serverUrl %>',
            userName: '<%= username %>',
            domain: '<%= domain %>',
            jwt: '<%= jwt %>',
            videoUrl: '<%= video %>',
        }
        const citofono = new Citofono(options)
    });
</script>

</html>